@model MeASWebApp.Models.Malachi
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Malachi</title>
</head>
<body>
    <h1>This is Me as a person</h1>
    My Eyes are
    @Model.EyeColor<br />
    My Hair is
    @Model.HairColor<br />
    My Skin is
    @Model.SkinColor<br />
    I am
    @Model.Height Feet Tall <br />
    I am a
    @Model.Sex<br />
</body>
</html>
